/*
body {
	margin: 0;
	margin-right: auto;
	margin-left: auto;
}
*/
* {
    outline: none;
}
#wrapper { min-width: 960px; 
	width: 100%;
	overflow-x: hidden; }
.header {
	background-color: #ECEDEF;
	text-align: center;
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.switch {
	background-color: #646C77;
	min-width: 220px;
	width: 20%;
	border-radius: 25px;
	margin: auto;
	padding-top: 5px;


}
.my-container {
	padding-left: 1%;
	padding-right: 1%;
}

.full-width {
	width: 100%;
}

.thead-prop {
	background-color: #ED5806;

}


.thead-req {
	background-color: #02A5A0;
}
#h-req {
	color: #02A5A0;
	display: inline;
	margin-right: 10px;
	
}
#h-prop {
	color: #ED5806;
	display: inline;
	margin-right: 10px;
}





 .switch input[type="radio"]{display: none;}



.switch label#label-prop{
	padding-left: 10px;
	padding-right: 10px;
	
}
 .switch label#label-both{
	padding-left: 10px;
	padding-right: 10px;
	
}

.switch label#label-req{
	padding-left: 10px;
	padding-right: 10px;
	
}

.switch input[type="radio"]:checked+label{
    background-color: #5896D6;
    border-radius: 10px;
}
#radio-prop:checked+label{
    background-color: #ED5806;
    
}
#radio-req:checked+label{
    background-color: #02A5A0;

}

/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
  vertical-align: bottom;
  margin: 0 3px 0 0;
  width: 10px;
  height: 10px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 30px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  
  left: 0;
  top: 4px;
  width: 25px;
  height: 13px;
  border-radius: 7px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 2px;
  width: 11px;
  height: 11px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
  background: #5896D6;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
  left: 13px;
}




.filter {
	float: right;
	text-decoration: underline;
	display: inline;
}

.filter input[type="checkbox"]{display: none;}

#filter-tab-prop {
	background-color: #D64D09 ;
	margin-left: 0;
	margin-right: 0;
	display: none;
	position: relative;
	max-width: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	
	
}



#filter-tab-req {
	background-color: #028E87 ;
	margin-left: 0;
	margin-right: 0;
	display: none;
	width: 100%;
	position: relative;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*#filter-tab-req tbody{
      
    
    width: 100%;

}*/
#filter-tab-prop td{
	
	background-color:#D64D09;
	//*width: 16.666%*/
	text-align: center;

}

#filter-tab-req td{
	
	background-color: #028E87 ;
	//*width: 16.666%*/
	text-align: center;
	
		
}
#filter-tab-prop tr:first-child{
	color: #D7DADD;
}
#filter-tab-req tr:first-child{
	color: #D7DADD;
}
#filter-tab-prop select{
    border-radius: 5px;
    border: none;
   
    width: 100%;
}
#filter-tab-req select{
    border-radius: 5px;
    border: none;
   
    width: 100%;
}
#filter-tab-prop input[type="text"]{
    
    border: none;
     width: 100%;
}
#filter-tab-req input[type="text"]{
    
    border: none;
     width: 100%;
}

th {
	color: white;
}
td {
	background-color: #ECEDEF;
	width: 16%;
}

td:first-child {width: 2%;} 
td:nth-child(2) {width: 18%;}
.fav {
	width: 2%;
}

  tr:hover td { 
	background-color: #D7DADD;
}


.input-tab input{
	background-color: white;
	width: 90%;
	height: 22px;
	border-radius: 5px;
}
.input-tab {
	background-color: white;
	width: 90%;
	border-radius: 5px;
	height: 22px;
}
.min {
	text-align: right;
	border-radius: 5px;
}

.max {
	text-align: left;
	border-radius: 5px;
}

#btn-prop {
	float: right;
	margin-right: 1.5%;
	margin-top: 1%;
	margin-bottom: 1%;
	border-radius: 5px;
	background-color: #FFDC00;
	font-size: 10px;
}

#btn-req {
	float: right;
	margin-right: 1.5%;
	margin-top: 1%;
	margin-bottom: 1%;
	border-radius: 5px;
	background-color: #FFDC00;
	font-size: 10px;
}


.btnflt_icon {
	display: none;
}


.table-f {
	width: 100%;
	
	margin-top: 10px;
}


#clr-prop {
	float: left;
	border: none;
	text-decoration: underline;
	font-weight: bold;
	font-size: 12px;
	color: #FFDC00;
	background-color:  #D64D09;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 0;
}

#clr-req {
	float: left;
	border: none;
	text-decoration: underline;
	font-weight: bold;
	font-size: 12px;
	color: #FFDC00;
	background-color:  #028E87;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 0;


}





.filter-labels {
	font-size: 12px;
	color: #D7DADD;

}

#filter-label-prop {
	text-decoration: underline;
	font-weight: normal;
}
#filter-label-req {
	text-decoration: underline;
	font-weight: normal;
}

#flt1_table-prop, #flt3_table-prop,#flt1_table-req,#flt3_table-req {
	
	appearance:none;
-moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari and Chrome */
 overflow: hidden;
 background: url(img/dropdown_arrow1.png) no-repeat right white;

}



#tbody-prop td:nth-child(2) ,#tbody-req td:nth-child(2) {
	color: #5896D6;
	text-decoration: underline;
}